<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.diwakar.mybatis.mapper.UserMapper">

<resultMap type="User" id="UserMap">
<id column="id" property="id"/>
<result column="name" property="name"/>
<result column="email" property="email"/>
</resultMap>

<select id="fetchAllUsers" resultMap="UserMap">
select name,email from users
</select>

<select id="fetchUserByID" resultMap="UserMap">
select id, name, email from users WHERE id=#{id}
</select>

<insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
insert into users(name,email) values(#{name},#{email})
</insert>
  
</mapper>  